#locals env  files
.env*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# General temporary files
*.log           # Log files
*.tmp           # Temporary files
*.temp          # Temporary files